div {
    color: #2d3c49;
    font-family: "Times New Roman", Times, serif;

}

#logo {
    float: left;
}

#name-splash {
    float: right;
}


.divider {
    width: 100%;
    height: 5px;
    background-color: #2d3c49;
}